<!DOCTYPE html>
<html lang="pt-br">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/admin-editar.css">
    <link rel="stylesheet" href="/icons/font/flaticon.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>coinflow | {{nome}} | enviar saldo</title>
</head>
<body>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <div class="menu">

                    <div class="row">
                        <div class="col-md-4"><a href="/"><img class="menu__logo" src="/images/logo.png" alt=""></a></div>
                        <div class="col-md-4"><h1 class="menu__title">{{nome}}</h1></div>
                        <div class="col-md-2"><a href="/admin/{{user_id}}/enviar" class="menu__link">voltar</a></div>
                        <div class="col-md-2"><a href="/logout" class="menu__link">sair</a></div>
                    </div>

                </div>

                <div class="editar">

                    <h1 class="editar__title">editar saldo mensal</h1>

                    <div class="editar__table__head row">
                        <div class="col-6 col-md-3"><h1 class="editar__table__head__title left">nome completo</h1></div>
                        <div class="col-md-3 email"><h1 class="editar__table__head__title left">email</h1></div>
                        <div class="col-4 col-md-3"><h1 class="editar__table__head__title">saldo mensal</h1></div>
                        <div class="col-2 col-md-3"><h1 class="editar__table__head__title">editar</h1></div>
                    </div>

                    {{#each funcionarios}}
                        <div class="editar__table__data row">
                            <div class="col-6 col-md-3"><h1 class="editar__table__data__text">{{this.nome}}</h1></div>
                            <div class="col-md-3 email"><h1 class="editar__table__data__text">{{this.email}}</h1></div>
                            <div class="col-4 col-md-3"><div class="editar__table__data__row"><h1 class="editar__table__data__text">{{this.saldo_mensal}}</h1><img class="editar__table__data__coin" src="/images/fs.png" alt=""></div></div>
                            <div class="col-2 col-md-3"><i id="{{this.id}}" class="editar__table__data__icon flaticon-editar"></i></div>
                        </div>
                    {{/each}}

                </div>

                <div class="form">
                    <form id="form" method="POST">
                        <label class="form__label" for="value">editar valor mensal</label>
                        <input class="form__input" type="text" id="user" name="user">
                        <input class="form__input" type="number" id="value" name="value">
                        <button id="formSubmit" class="form__button" type="button">confirmar</button>
                    </form>
                    <button id="formReturn" class="form__button">voltar</button>
                </div>

            </div>
        </div>



    <!--Bootstrap-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/scripts/animate_logo.js"></script>
    <script src="/scripts/admin-editar.js"></script>

</body>
</html>