<!DOCTYPE html>
<html lang="pt-br">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/user-enviar.css">
    <link rel="stylesheet" href="/icons/font/flaticon.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>coinflow | {{nome}} | enviar saldo</title>
</head>
<body>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <div class="menu">

                    <div class="row">
                        <div class="col-md-4"><a href="/"><img class="menu__logo" src="/images/logo.png" alt=""></a></div>
                        <div class="col-md-4"><h1 class="menu__title">{{nome}}</h1></div>
                        <div class="col-md-2"><a href="/admin/{{user_id}}/enviar" class="menu__link">voltar</a></div>
                        <div class="col-md-2"><a href="/logout" class="menu__link">sair</a></div>
                    </div>

                </div>

                <div class="individual">
                    <h2 class="individual__msg">{{saldo}}{{notfound}}{{insuficiente}}</h2>
                    <h1 class="individual__title">seu outflow: {{this.outflow}}{{new_outflow}}<img class="individual__coin" src="/images/fs.png" alt=""></h1>
                    <form id="form" method="POST">
                        <label class="individual__label" for="user">selecionar usário</label>
                        <select class="individual__input" name="user" id="user">
                            
                            <option value="" selected disabled></option>

                            {{#each funcionarios}}
                                <option value="{{this.id}}">{{this.nome}}</option>
                            {{/each}}
                        
                        </select>
                        <label class="individual__label" for="value">inserir valor</label>
                        <input class="individual__input" type="number" id="value" name="value">
                        <button id="formSubmit" class="individual__button" type="button">enviar</button>
                    </form>
                </div>

            </div>
        </div>



    <!--Bootstrap-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/scripts/animate_logo.js"></script>
    <script src="/scripts/user-enviar.js"></script>

</body>
</html>